.content {
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}
.search-card {
  flex: 1;
  margin: 54px 0;
  padding: 54px 32px;

  background-color: #e6f7ff;
  border-radius: 16px;
}

.search-card-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.search-card-container .btn {
  width: 120px;
}
.search-card h1 {
  color: #262626;
  margin-bottom: 12px;
}
.search-card input {
  width: 100%;
  max-width: 298px;
  display: block;
  margin-bottom: 24px;
  padding: 8px 17px;

  font-weight: 400;
  font-size: 16px;

  background: #ffffff;

  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 4px;
}
